.bg-image{
  min-height: 100vh;
}

.blog-back{
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px  0 0;
}

.header-top{
  margin: 50px;
  border-radius: 50px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 100px;
  background-image: linear-gradient(to right, #01b79f, #00b69b00);
}

.addvideo-header-bg{
  background-image: linear-gradient(to right, #01b79f, #00b69b00),
  url("../public/user/blog-header.png");
}

.addblog-header-bg{
  background-image: linear-gradient(to right, #01b79f, #00b69b00),
  url("../public/user/blog-header.png");
}

.header-text{
  font-size: 70px;
  font-weight: bolder;
  color: #fff;
}

.nav-item .active{
  font-weight: bold;
}